body{
    background-color: #000000;
}

#portadaGallery img{
    width: 100%;
    height: 60vh;
}

/* Each section where the images are getting inserted */
.image-section{
    display: grid;
    grid-template-columns: 25vw 25vw auto auto;
    margin-left: 1vw;
}

.gallery-section{
    text-align: center;
}

#containersGallery img{
    height: 30vh;
    width: 23vw;
}


.card-containers{
    margin: 1%;
    border-style: double;
}

.card-containers img{
    height: 30vh;
    width: 23vw;
}

#fullImgBox{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

#fullImgBox img{
    width: 90%;
    max-width: 500px;
}

#fullImgBox span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.loadMore{
    text-align: right;
    margin-right: 1vw;
}

.clear{
    display: none;
}

@media (max-width: 1200px){
    .image-section{
        grid-template-columns: auto auto auto;
        
    }
}

@media (max-width: 950px){

    #portadaGallery img{
        height: 40vh;
    }

    .image-section{
        grid-template-columns: auto auto;
        
    }

    .card-containers img{
        height: 40vh;
        width: 40vw;
    }

    #containersGallery img{
        height: 40vh;
        width: 40vw;
    }
}

@media (max-width: 650px){

    #portadaGallery img{
        height: 30vh;
    }

    .image-section{
        grid-template-columns: auto;
    }

    /* Every image */
    .card-containers img{
        height: 45vh;
        width: 90%;
    }

    #containersGallery img{
        height: 45vh;
        width: 90%;
    }
}


